In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import re
from tqdm import tqdm
import numpy as np

In [2]:
from ejmr_scraper import page_urls, thread_urls, dump_page_content, dump_thread_content, page_df, thread_df

# Get page content

In [4]:
p_urls = page_urls(1, 4) # range of urls

In [5]:
p_urls

['https://www.econjobrumors.com/',
 'https://www.econjobrumors.com/page/2',
 'https://www.econjobrumors.com/page/3',
 'https://www.econjobrumors.com/page/4']

In [6]:
page_dump = dump_page_content(p_urls) # parse html. Second argument can be given to store locally

100%|██████████| 4/4 [00:04<00:00,  1.05s/it]

In [7]:
df = page_df(page_dump) # create pandas df

In [8]:
df.head(25)

,title,posts,views,positive_votes,negative_votes,vote_ratio,latest_post
0,Moderation Policy,21,608045,1,0,1.000000,1 hour
1,About EJMR,7,203153,47,67,0.412281,2 months
2,Harvard business school names an indian as its...,10,206,2,3,0.400000,16 seconds
3,Fairfax school board eliminates admissions tes...,22,421,0,0,NaN,40 seconds
4,Clearest sign that time series is dead,23,725,7,1,0.875000,1 minute
5,My whole life is in zoom,12,295,5,0,1.000000,8 minutes
6,Experiments are dead as the research field,6,126,0,0,NaN,11 minutes
7,How will the US pay for all of this?,12,217,2,0,1.000000,16 minutes
8,Tech vs Med School,2,37,0,0,NaN,17 minutes
9,I do not know wny people value solo-authored p...,62,2617,4,50,0.074074,25 minutes
10,Are the VAR models the best macro tool?,27,603,1,1,0.500000,30 minutes
11,Turkish Market [Turkish & English],2639,170604,10,19,0.344828,32 minutes
12,I have Covid,27,513,1,2,0.333333,44 minutes
13,What is the point of ever paying the federal d...,4,97,1,0,1.000000,45 minutes
14,Official Thread for Brazilian Economists,2608,109321,7,16,0.304348,50 minutes
15,"Realistically, what mental activity will incre...",18,343,0,0,NaN,57 minutes
16,"Mean age covid death 82, all other mean age 81",23,479,1,1,0.500000,57 minutes
17,MRM unfunded phd - where to apply,25,556,1,1,0.500000,58 minutes
18,Government stimulus = supply side economics?,5,58,0,0,NaN,1 hour
19,Do reg monkeys have an inferiority complex tow...,46,947,8,1,0.888889,1 hour
20,Editor here: review times are exploding!,8,524,1,0,1.000000,1 hour
21,Regression approaches are flawed.,3,521,0,0,NaN,1 hour
22,Paid $150 & the paper is with editor for 45 days,3,117,0,0,NaN,1 hour
23,Do you ever get waves of missing someone?,21,685,8,0,1.000000,1 hour
24,"Is Lavazza coffee good by decent standards, i....",7,225,0,0,NaN,1 hour

# Get thread content

In [9]:
t_urls = thread_urls(p_urls) # take list of page urls and return list of thread urls for threads on each page

100%|██████████| 4/4 [00:02<00:00,  1.46it/s]

In [10]:
thread_dump = dump_thread_content(t_urls) # parse html. Second argument can be given to store locally

100%|██████████| 162/162 [11:10<00:00,  4.14s/it]

In [11]:
thread_df = thread_df(thread_dump)

100%|██████████| 159/159 [00:30<00:00,  5.14it/s]
100%|██████████| 159/159 [00:17<00:00,  9.32it/s]

In [18]:
thread_df

,author,author_rep,tread_name,post_text,post_likes,post_dislikes,post_age,position
0,Kirk,Rep: 1530,Moderation Policy,"Hi all,\nIf you believe a thread should be del...",0,0,9 years ago,1
1,0796,NaN,Moderation Policy,\nthe fundamental problem that one idiot posti...,6,2,1 year ago,2
2,606c,NaN,Moderation Policy,\nIf you seriously think the spammers won’t ju...,0,4,1 year ago,3
3,0796,NaN,Moderation Policy,"Also, you have a lot of very specific insight ...",5,3,1 year ago,4
4,f3e1,NaN,Moderation Policy,"Also, you have a lot of very specific insight ...",0,6,1 year ago,5
...,...,...,...,...,...,...,...,...
15113,f4f4,NaN,Why do people mock high school dropouts?,"It's not that we mock high school dropouts, in...",3,1,15 hours ago,2
15114,d673,NaN,Why do people mock high school dropouts?,"On a burger flipping forum, academics could be...",1,0,14 hours ago,3
15115,da6b,NaN,Why do people mock high school dropouts?,I never understood why HS dropouts post here. ...,1,0,14 hours ago,4
15116,dfdd,NaN,Why do people mock high school dropouts?,sthefu karl\nThis is neuroshaming. If they con...,0,0,14 hours ago,5
15117,0a1f,NaN,Why do people mock high school dropouts?,"On a burger flipping forum, academics could be...",0,0,14 hours ago,6

In [20]:
thread_df.sort_values(by = 'post_likes', ascending = False)

,author,author_rep,tread_name,post_text,post_likes,post_dislikes,post_age,position
21,Kirk,Rep: 1530,About EJMR,Q: Why should I visit this site?\nA: There is ...,109,82,7 years ago,1
13073,f6de,NaN,"1.5 years into coediting AEJ: Applied,",Hi everybody-\nDavid Deming here. (I don't kno...,72,0,1 year ago,10
9812,c7a3,NaN,Phd ruined my life,i'm old now\nno experience\nterrible topic\nno...,56,4,6 years ago,1
15073,48ba,NaN,Did you order the Desk Rejection?,"Young AP: *Professor Barro, did you order the ...",49,5,6 years ago,1
7371,7acb,NaN,Fryer suspended,Harvard insider here. This is pathetic. The in...,48,7,1 year ago,11
...,...,...,...,...,...,...,...,...
5512,6675,NaN,"Mean age covid death 82, all other mean age 81",Presumably the counterfactual we care about is...,0,0,6 hours ago,13
5515,194a,NaN,"Mean age covid death 82, all other mean age 81",OP is missing something here. THe deaths in UK...,0,0,2 hours ago,16
5516,bbfa,NaN,"Mean age covid death 82, all other mean age 81",The mean age of covid19 death is the same in m...,0,0,2 hours ago,17
5517,900b,NaN,"Mean age covid death 82, all other mean age 81",oh no dead boomers so sad :(\n,0,0,2 hours ago,18
15117,0a1f,NaN,Why do people mock high school dropouts?,"On a burger flipping forum, academics could be...",0,0,14 hours ago,6